<!DOCTYPE html>
<html lang="jp">
<head>
	<meta charset="UTF-8">
	<title>鳥株予報</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
		  integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
<h1 class="display-3">鳥株予報</h1>
<p>個人投資家のツイートから東証一部上場銘柄への言及を拾い、重回帰分析により未来の株価を予測するシステム</p>
<a href="https://lzpel.net">© 2021 lzpel</a>
{{range $predict:=.Predict}}
<h2 class="display-5">予報 {{$predict.Born | Local}}</h2>
<p>毎日午前6時更新。当日の取引時間中の値動きを予測。</p>
<table class="table">
	<tr>
		<th>証券番号</th>
		<th>銘柄略称</th>
		<th>銘柄名</th>
		<th>予測</th>
		<th>ツイート</th>
	</tr>
{{range $p:=$predict.Prices}}
	<tr id="{{$p.Code}}">
		<td>#{{$p.Code}}</td>
		<td>{{$p.Name}}</td>
		<td>{{$p.FullName}}</td>
		<td>{{$p.Value | Percent}}</td>
		<td style="word-break:break-all;">{{range $i, $m := ($predict.MentionPrice $p)}}<a target="_blank" href="https://twitter.com/{{$m}}/status/{{$i}}">*</a>{{end}}</td>
	</tr>
{{end}}
</table>
<table class="table">
	<tr>
		<th>#</th>
		<th>個人投資家Twitter</th>
		<th>ID</th>
		<th>係数</th>
		<th>ツイート</th>
	</tr>
{{range $i, $u := .Users}}
	<tr id="{{$u.Id}}">
		<td>{{$i}}</td>
		<td style="overflow:hidden;">
			<a href="https://twitter.com/{{$u.Screen}}"
			   style="text-overflow:ellipsis;width:100px;white-space:nowrap;">{{$u.Name}}</a>
		</td>
		<td>@{{$u.Screen}}</td>
		<td>{{$u.Coefficient | Coefficient}}</td>
		<td style="word-break:break-all;">{{range $i, $m := ($predict.MentionUser $u)}}<a target="_blank" href="https://twitter.com/twitter/status/{{$i}}">{{$m}}</a>{{end}}</td>
	</tr>
{{end}}
</table>
{{end}}
{{range .Market}}
<h2 class="display-5">株価 {{.Born | Local}}</h2>
<p>株価取得個数：{{.Prices | len}}</p>
<table class="table">
	<tr>
		<th>証券番号</th>
		<th>銘柄略称</th>
		<th>銘柄名</th>
		<th>始値</th>
		<th>終値</th>
	</tr>
{{range .Prices}}
	<tr id="{{.Code}}">
		<td>#{{.Code}}</td>
		<td>{{.Name}}</td>
		<td>{{.FullName}}</td>
		<td>{{.Open}}</td>
		<td>{{.Close}}</td>
	</tr>
{{end}}
</table>
{{end}}
</body>
</html>